


{% extends 'navbar.html' %}

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>일정추가</title>
</head>
<body>

<div class="col-md-12">
    <div class="container">
        <h3 class="my-3 border-bottom pb-2">일정 추가</h3>
        <form method="POST" class="post-form my-3" >
           {%csrf_token%}

           {{form.as_p}}
            <br>
            <button type="submit" class = "btn btn-outline-info">추가</button>
       </form>
    </div>
</div>
{% endblock %}
</body>
</html>
